force-app/main/default/flows/New_Customer_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Closed_Won</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Prospecting</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>196</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>Contact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_Record</name>
        <label>Contact Record</label>
        <locationX>220</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Opportunity_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_Record</name>
        <label>Opportunity Record</label>
        <locationX>414</locationX>
        <locationY>414</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Opportunity_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2016-08-27</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Prospecting</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Opportunity_Stage</name>
        <label>Opportunity Stage</label>
        <locationX>198</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Record</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oppotunity_Stage</name>
            <choiceReferences>Prospecting</choiceReferences>
            <choiceReferences>Closed_Won</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Oppotunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Opportunity_Stage</startElementReference>
    <status>Draft</status>
</Flow>
